.menubtn, .menubtn-no-hover {
    background-color: var(--ui-btn-color);
    color: var(--ui-text-color);
    display: block;
    padding: 5px;
    margin: 0px 0px 1px 0px;
    width: 250px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: filter 0.4s;
}

.prompt-button {
    background-color: transparent;
    color: #bbddff;
    padding: 10px;
    border: none;
    cursor: pointer;
    float: right;
}

.dropdown-btn {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: block;
    padding: 5px;
    margin: 0px;
    width: inherit;
    border: none;
    cursor: pointer;
    transition: background 0.5s;
    font-size: 0.8rem;
    text-align: center;
}

.prompt-button:hover, .menubtn:hover, .dropdown-btn:hover {
    filter: brightness(0.8);
}

.shortcut-text {
    color: #555;
}

.ui-title-btn {
    color: var(--ui-title-text-color);
    background-color: inherit;
}

.settings-range {
    float: right;
    background-color: transparent;
}

.settings-range:focus {
    outline: none;
}
/* 
.settings-range::-webkit-slider-runnable-track {
    background: var(--ui-btn-color);
    padding: 1px;
    border-radius: 3px;
} */
.settings-range::-moz-range-track {
    background: var(--ui-btn-color);
    padding: 1px;
    border-radius: 3px;
}
/* 
.settings-range::-webkit-scrollbar-track-piece {
    background: #bbddff;
    padding: 2px;
    border-radius: 3px;
} */
.settings-range::-moz-range-progress {
    background: #bbddff;
    padding: 2px;
    border-radius: 3px;
}

.settings-range::-webkit-slider-thumb {
    cursor: pointer;
    background: #bbddff;
}
.settings-range::-moz-range-thumb {
    cursor: pointer;
    background: #bbddff;
}

.settings-btn {
    width: 55px;
    margin: 3px 6px;
    float: right;
}

.title-btn {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: block;
    border: none;
    font-family: monospace;
    width: 33vw;
    min-height: 25px;
    border-radius: 2px;
    margin-top: 2px;
    padding-top: calc(2px + env(safe-area-inset-top));
    padding-bottom: 2px;
    transition: filter 0.5s, background 0.5s;
}

.title-btn:hover {
    filter: brightness(0.6);
}

.key-binding {
    min-width: fit-content;
    position: relative;
    font-style: italic;
}

.info-btn, .icon-btn {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--ui-title-text-color);
}

.icon-btn:hover {
    filter: brightness(0.8);
}

.info-btn::after {
    font-size: 0.75rem;
    font-family: monospace;
    content: 'i';
}

.info-btn {
    float: right;
}

.x-btn {
    float: right;
    background-color: transparent;
    font-size: large;
    width: 30px;
    height: 30px;
    border: none;
    margin: 0px;
    cursor: pointer;
    color: var(--ui-title-text-color);
    display: grid;
    align-items: center;
    text-align: center;
    transition: 0.3s;
}

.x-btn:hover {
    filter: brightness(0.5);
}

.btn:active {
    background-color: indigo;
}

.show-menu-btn {
    width: clamp(10px, 3vw, 20px);
    height: 5px;
    cursor: pointer;
    background-color: var(--gamepad-btn-color);
    box-shadow: 1px 1px 5px #222;
    position: absolute;
    right: 50%;
    bottom: -20px;
    border: none;
    border-radius: 100vmax;
}

.show-menu-btn:active {
    box-shadow: none;
}

.show-menu-btn:hover {
    filter: brightness(0.8);
}

.save-menu-button {
    width: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr min-content;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
    gap: 0.5em;
}

.save-menu-button:hover {
    filter: brightness(0.6);
}

.save-menu-img {
    width: 100%;
    height: 100%;
    border-radius:5px;
    box-shadow: 5px 5px 8px dimgray;
}

.save-menu-button-title {
    text-align: left;
    padding-left: 6%;
    font-size: 1.1em;
}

.save-state-icon {
    font-size: 0.6rem;
    border-radius: 2px;
    background-color:black; 
    padding: 1px 6px;
    height: fit-content;
    float: right;
    margin-top: 1px;
}


.save-menu-padding {
    width: 1px;
    padding: calc(20px + env(safe-area-inset-bottom)) 0px;
}

.alert-div {
    position: absolute;
    transform: translateX(-50%);
    top: -100%;
    left: 50%;
    padding: 10px 30px;
    margin-top: env(safe-area-inset-top);
    min-height: 50px;
    background-color: var(--ui-background-color);
    color: var(--ui-text-color);
    border: 2px solid #777;
    border-radius: 5px;
    transition: 0.2s ease;
    
    font-size: 1.25rem;
    text-align: center;
    z-index: 20;
    box-shadow: 1px 1px 5px #222;
}

#plusButton {
    width: 30px;
    height: 30px;
    float: right;
}

#PromptText {
    padding: 5px;
    border: none;
    border-radius: 5px;
}