.menubtn {
    background-color: var(--ui-btn-color);
    color: var(--ui-text-color);
    display: block;
    padding: 5px;
    margin: 0px 0px 1px 0px;
    width: 250px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: filter 0.4s;

}

.dropdown-btn {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: block;
    padding: 5px;
    margin: 0px;
    width: inherit;
    border: none;
    cursor: pointer;
    transition: background 0.5s;
    font-size: 0.8rem;
    text-align: center;
}

.menubtn:hover, .dropdown-btn:hover {
    filter: brightness(0.8);
}

.shortcut-text {
    color: #555;
}

.ui-title-btn {
    color: var(--ui-title-text-color);
    background-color: inherit;
}

.settings-btn {
    width: 100%;
    display: inline-block;
}

.title-btn {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: block;
    border: none;
    font-family: monospace;
    width: 33vw;
    min-height: 25px;
    border-radius: 2px;
    margin-top: 2px;
    padding-top: calc(2px + env(safe-area-inset-top));
    padding-bottom: 2px;
    transition: filter 0.5s, background 0.5s;
}

.title-btn:hover {
    filter: brightness(0.6);
}

.key-binding {
    position: relative;
    font-style: italic;
}

.info-btn, .icon-btn {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    color: var(--ui-title-text-color);
}

.icon-btn:hover {
    filter: brightness(0.8);
}

.info-btn::after {
    font-size: 0.75rem;
    font-family: monospace;
    content: 'i';
}

.info-btn {
    float: right;
}

.x-btn {
    float: right;
    background-color: inherit;
    font-size: large;
    width: 30px;
    height: 30px;
    border: none;
    margin: 0px;
    cursor: pointer;
    color: var(--ui-title-text-color);
    display: grid;
    align-items: center;
    text-align: center;
    transition: 0.3s;
}

.x-btn:hover {
    filter: brightness(0.5);
}

.x-btn-animated {
    width: 0px;
    padding: 0px;
    border: none;
    overflow: hidden;
}

.btn:active {
    background-color: indigo;
}

.show-menu-btn {
    width: clamp(10px, 3vw, 20px);
    height: 5px;
    cursor: pointer;
    background-color: var(--gamepad-btn-color);
    box-shadow: 1px 1px 5px #222;
    position: absolute;
    right: 50%;
    bottom: -20px;
    border: none;
    border-radius: 100vmax;
}

.show-menu-btn:active {
    box-shadow: none;
}

.show-menu-btn:hover {
    filter: brightness(0.8);
}

.save-menu-button {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 30px;
    grid-template-rows: 4fr 1fr;
}

.save-menu {
    height: 80vh;
}

.save-menu-padding {
    width: 1px;
    padding: calc(20px + env(safe-area-inset-bottom)) 0;
}


.alert-div {
    position: absolute;
    transform: translateX(-50%);
    top: -200px;
    left: 50%;
    padding: 10px 30px;
    min-height: 50px;
    background-color: #333;
    color: aliceblue;
    border: 2px solid #777;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    
    font-size: 1.25rem;
    text-align: center;
    z-index: 20;
}

#saveEditButton {
    font: 0.75rem monospace;
    width: fit-content;
    height: 30px;
    float: right;
}

#plusButton {
    width: 30px;
    height: 30px;
    float:right;
}