.debug-main-div {
    width: fit-content;
    max-height: 95vh;
    max-width: 95vw;
    min-width: 256px;
    position: absolute;
    grid-template-rows: min-content 1fr;
    border-color: var(--ui-title-color);
}


#MapCanvas {
    aspect-ratio: 1 / 1;
    width: var(--debug-map-size);
}

.debug-tile-div, .debug-map-div {
    overflow: hidden auto;
    width: 100%;
    height: 100%;
    display: none;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
}


.debug-tile-div {
    grid-template-rows: min-content 1fr;
}

.debug-box {
    font-family: monospace;
    margin: 15px;
    width: calc(100% - 30px);
    border: 1px solid #666;
}

.color-preview {
    background-color: #000000;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.palette-input {
    height: 33%;
}

.palette-menu {
    display: grid;
    grid-template-columns: 1fr;
}

#TilePrevDiv {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#TilePreview {
    display: inline;
    width: 128px;
    aspect-ratio: 1 / 1;
}

.debug-title-btn {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    background-color: var(--ui-title-color);
    color: #ccc;
}

.debug-title-btn-active {
    color: white;
}

.debug-text {
    font-family: monospace;
    width: 100%;
    margin: 0px;
    scrollbar-color: #333333;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-touch-callout: text;
    user-select: text;
}

.debug-addr-btn {
    line-height: 150%;
    padding-left: env(safe-area-inset-left);
    width: 600px;
    font-family: monospace;
}

.disasm-buttons {
    grid-column: 1 / 3;
    width: 100%;
    margin: 0px 15px 25px 15px;
    text-align: center;
}

.disasm-btn {
    cursor: pointer;
    border: none;
    width: fit-content;
    padding: 3px 5px;
    background-color: var(--ui-btn-color);
    color: var(--ui-text-color);
    margin: 1px;
    border-radius: 3px;
}

.disasm-btn:hover {
    filter: brightness(0.8);
}

.debug-breakpoint-radio {
    display: none;
}

.debug-breakpoint-radio:checked+label {
    color: #222;
    background-color: lightblue;
}

.debug-breakpoint-name {
    cursor: pointer;
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
}

.debug-breakpoint-name:hover {
    background-color: gray;
}

.debug-addr-btn {
    display: inline;
    width: min-content;
    height: 1rem;
    background-color: inherit;
    color: inherit;
    text-align: left;
    border: none;
    cursor: pointer;
}

.debug-addr-btn:hover {
    filter: brightness(0.8);
}

.pal-debug-button {
    width: 25%;
    height: 25px;
    margin: 3px 0px;
    font-family: monospace;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.pal-debug-button:hover {
    filter: brightness(0.8);
}

.debug-pal-tab {
    column-gap: 10px;
    flex-direction: row;
    width: 100%;
}

.debug-pal-prev {
    display: block;
    overflow: none auto;
    align-content: center;
    margin: 10px;
}

.debug-memory-text {
    overflow: auto;
    line-height: 175%;
    padding-right: 5px;
    height: 100%;
    min-height: 250px;
    text-align: center;
}

.obj-canvas {
    width: 100%;
    padding: 0px;

}

.obj-canvas:hover {
    filter: brightness(0.8);
}

.disasm-main-div {
    height: 100%;
    grid-template-columns: 3fr min-content;
    grid-auto-rows: 1fr min-content;
    overflow: hidden auto;
}

#MemoryDiv {
    height: 100%;
    overflow: hidden hidden;
}

#DebugSprites {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
}

#MapCanvasDiv {
    overflow: auto;
    background-color:black;
    margin-bottom: env(safe-area-inset-bottom);
}

#OamDiv {
    display: grid;
    grid-template-rows: repeat(2, min-content);
}

@media (orientation: landscape) {
    .debug-tile-div, .debug-map-div {
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
    }

    #OamDiv {
        grid-template-columns: 1fr 1fr;
    }

    #MapCanvasDiv {
        grid-row: 1 / 3;
    }

    .palette-menu {
        grid-template-columns: 1fr 1fr;

    }
}

@media (max-width: 500px) and (orientation: portrait), (max-height: 500px) and (orientation: landscape) {
    .debug-main-div {
        top: 0px;
        left: 0px;
        transform: translate(0%, 0%);
        position: absolute;
        max-height: unset;
        max-width: unset;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0px;
    }

    .debug-box {
        margin: 5px;
        width: calc(100% - 10px);
    }

    #TilePreview {
        width: 64px;
    }

    @media (orientation: portrait) {
        .debug-pal-tab {
            flex-direction: column;
        }
    }

    @media (orientation: landscape) {
        .menu-header {
            width: 100vw;
            margin-left: calc(-50vw + 50%);
            margin-right: calc(-50vw + 50%);
        }
    }
}
