.debug-main-div {
    width: fit-content;
    min-width: 256px;
    /* height: clamp(200px, 550px, 80vh); */
    display:none;
}


#MapCanvas {
    aspect-ratio: 1 / 1;
    width: var(--debug-map-size);
}

.debug-tile-div, .debug-map-div {
    overflow: hidden auto;
    width: 100%;
    display: none;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
}


#TilePrevDiv {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr;
}

.debug-title-btn {
    width: 100%;
    padding: 10px 3px 10px 3px;
    border-radius: 0px;
}

.debug-text {
    font-family: monospace;
    padding-left: 5px;
    width: 100%;
    margin: 0px;
    scrollbar-color: #333333;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-touch-callout: text;
    user-select: text;
}

.debug-breakpoint-radio {
    display: none;
}

.debug-breakpoint-radio:checked+label {
    color: #222;
    background-color: lightblue;
}

.debug-breakpoint-name {
    cursor: pointer;
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
}

.debug-breakpoint-name:hover {
    background-color: gray;
}

.pal-debug-button {
    width: 25%;
    height: 25px;
    font-family: monospace;
    cursor: pointer;
    border: none;
}

.pal-debug-button:hover {
    filter: brightness(0.8);
}

.debug-pal-tab {
    display: grid; grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    width: 100%;
}

.debug-pal-prev {
    display: block;
    overflow: none auto;
}

.obj-canvas {
    width: 100%;
    padding: 0px;

}

.obj-canvas:hover {
    filter: brightness(0.8);
}

#DisassemblyDiv {
    max-height: 80vh;
    grid-template-columns: 3fr fit-content;
    grid-auto-rows: 3fr fit-content;
    overflow: none auto;
}

#DebugSprites {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
}


@media (orientation: landscape), (min-width: 560px) {
    .debug-tile-div, .debug-map-div {
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
        height: fit-content;
    }

    .debug-main-div {
        max-height: 98vh;
    }

    #MapCanvasDiv {
        grid-row: 1 / 3;
        overflow: auto;
        width: 100%;
        height: 100%;
    }

    #TilePrevDiv {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .debug-main-div {
        max-width: 98vw;
        max-height: 98vh;
    }
}
