.popup, .popup-no-border {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--ui-background-color);
    border: 5px solid var(--ui-title-color);
    color: var(--ui-main-text-color);
    z-index: 9;
    border-radius: 5px;
    width: fit-content;
    min-width: 350px;
    max-height: 80vh;
    transition: all 0.20s ease-in-out;
}

.menu-header, .menu-header-no-ext {
    font-size: 1.25rem;
    background-color: var(--ui-title-color);
    color: var(--ui-title-text-color);
    height: fit-content;
    min-height: 30px;
}

.menu-header-no-ext {
    background-color: transparent;
    padding: 5px 0px 5px 5px;
}

.menu-header > a {
    margin: 5px;
    display: inline-block;
}

.popup-no-border {
    border: 5px solid var(--ui-background-color);
}


.prompt-menu-fieldset {
    width: calc(100% - 12px);
    padding: 7px 5px 10px 5px;
    margin: 0px;
    border: none;
}

.prompt-menu-legend {
    background-color: inherit;
}

.prompt-menu-radio {
    display: none;
}

.prompt-menu-radio:checked + label {
    background-color: #999;
}

.prompt-menu-choice {
    display: block;
    background-color: #555;
    border-radius: 5px;
    margin-bottom: 2px;
    cursor: pointer;
    text-align: center;
}

.prompt-menu-choice:hover {
   background-color: #777;
}

.settings-grid {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
}

.settings-grid label {
    padding-left: 10px;
    min-height: 40px;
}

.settings-title {
    padding: 5px 0px 0px 5px;
    margin: 15px 0px;
    color: var(--ui-highlight-color);
}

.settings-checkbox {
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 6px;
    width: 21px;
    aspect-ratio: 1 / 1;
    align-self: center;
    padding: 0px 10px;
    margin: 0px 6px;
    transition: 0.15s;
    opacity: 0.5;
    border: 2px solid #eee;
    float: right;
}

.settings-checkbox:hover {
    filter: brightness(0.8);
}

.settings-checkbox:checked {
    background-color: var(--ui-highlight-color);
    border-color: var(--ui-highlight-color);
    opacity: 1;
}

.info-content {
    font-size: 1rem;
    display: none;
    position: absolute;
    background-color: var(--ui-main-text-color);
    padding: 0.5rem 1rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
    color: var(--ui-btn-color);
    text-align: left;
    top: 100%;
    right: 0px;
    width: clamp(150px, 60vw, 650px);
}

.info-div {
    position: relative;
    float: right;
}

.info-div:hover > .info-content  {
    display: block;
}

.info-div:hover > .info-btn, .info-btn:hover {
    background-color: var(--ui-background-color);
    color: var(--ui-btn-color);
}

#keyBindingDiv {
    opacity: 0;
    width: fit-content;
    height: fit-content;
    overflow-y: hidden;
}

#saveButtonDiv {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    background-color: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
}


.save-menu {
    display: none;
    color: var(--ui-main-text-color);
    background-color: var(--ui-background-color);
    position: absolute;
    top: 0px;
    left: 0px;
    padding-bottom: 2vh;
    width: 100%;
    height: 100%;
    max-height: unset;
    overflow: hidden;
    border-radius: 0px;
    border: none;
    z-index: 9;
    transition: all 0.20s ease-in-out;
}

.selection-menu {
    position: absolute;
    z-index: 100;
    width: 100vmax;
    height: 100vmax;
    display: none;
}

.selection-menu-child {
    width: fit-content;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--ui-background-color);
    border: 1px solid black;
}

.selection-menu button {
    background: transparent;
    color: var(--ui-main-text-color);
    border: none;
    padding: 8px 15px;
    transition: all 0.1s;
    cursor: pointer;
}

.selection-menu button:hover {
    background-color: #555;
}

#ThemeDiv {
    display: none;
    margin: calc(5px + env(safe-area-inset-top)) calc(5px + env(safe-area-inset-left));
    position: absolute;
    top: 0px;
    background-color: var(--ui-title-color);
    box-shadow: 0px 4px 16px 10px rgba(0, 0, 0, 0.7);
    min-height: 25px;
    border-radius: 5px;
}

@media (orientation: landscape) {
    #saveButtonDiv {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 500px),
        (max-height: 500px) and (orientation: landscape) {
            /* This makes 'popup' menus fullscreen */
            /* @todo why do some popup menus not get full screen? */
            #keyBindingDiv, #SettingsDiv {
                border: none;
                position: absolute;
                top: 0px;
                left: 0px;
                transform: translate(0, 0);
                padding-right: env(safe-area-inset-right);
                padding-left: env(safe-area-inset-left);
                padding-bottom: 2vh;
                width: 100%;
                height: 100%;
                max-height: unset;
                /* overflow: hidden; */
                border-radius: 0px;
            }

            .menu-header {
                padding-top: max(15px, env(safe-area-inset-top));
            }

            /* Do not show shortcut text on mobile */
            .shortcut-text {
                display: none;
            }
            
            .keybinding-div-child {
                 max-height: calc(100% - 50px);
            }

            .settings-grid {
                max-height: calc(100% - 50px);
                overflow: hidden auto;
            }
        }