:root {
    --debug-map-size: 512px;
}

html,
body {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    position: fixed;

    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;

    font-size: medium;
    color: var(--text-color);

    transition: background 0.5s;
}

::-webkit-scrollbar {
    background-color: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 1rem;
}

a:link, a:visited {
    color: lightblue;
}

fieldset {
    margin-bottom: 5px;
}

legend {
    color: aliceblue;
    background-color: #111111;
    padding: 2px;
    border-radius: 3px;
}

input[type="text"],
input[type="number"] {
    min-height: 30px;
    min-width: 60px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #424141;
    color: aliceblue;
}

input:focus {
    background: #777777;
}

input:out-of-range {
    background-color: darkred;
}


#PromptDiv {
    min-height: 50px;
}


.settings-grid label {
    display: flex;
    align-items: center;
    border-right: 2px solid #333;
}